<h1>Fruit Basket</h1>
<span class="data">raw data: <%= @fruits %></span>
<br />
<%= link_to "Order by Name - #{order.upcase}", basket_case_order_by_fruit_path(order: order), class: "button" %>
<%= link_to "Order by Amount - #{order.upcase}", basket_case_order_by_amount_path(order: order), class: "button" %>

<div id="fruit_container" class="container">
  <%= render partial: 'list_items', local: { list_items: list_items } %>
</div>